.container{
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
 "logo-tekst"
 "klok-Amsterdam"
 "klok-London"
 "klok-NewYork"
 "klok-Afbeelding";

}

.logo-tekst{
  grid-area: logo-tekst;
}

.klok-Amsterdam{
  grid-area: klok-Amsterdam;

}

.klok-London{
  grid-area: klok-London;
}

.klok-NewYork{
  grid-area: klok-NewYork;
}

.klok-Afbeelding{
  grid-area: klok-Afbeelding;
  display: flex;
}

#afb{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

/* ipad */

@media only screen and (min-width: 750px){
 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "logo-tekst logo-tekst"
    "klok-Amsterdam klok-London"
    "klok-NewYork klok-NewYork"
    "klok-Afbeelding klok-Afbeelding";

  }

  h2{
    font-size: 50px;
  }

  p{
    font-size: 25px;
  }

  #afb{
    width: 40%;
    margin-left: auto;
    margin-top: auto;
  }

/* kleine desktop */

}

@media only screen and (min-width: 1279px){
 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
    "logo-tekst logo-tekst"
    "klok-Amsterdam klok-NewYork"
    "klok-London klok-Afbeelding";


  }

  h2{
    font-size: 70px;
  }

  p{
    font-size: 35px;
  }

  #tijdA{
    font-size: 80px;
    padding-top: 15%;
  }

  #tijdL{
    font-size: 100px;
    padding-top: 15%;
  }

  #tijdNY{
    font-size: 100px;
    padding-top: 15%;
  }

  #afb{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 1920px){
 .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
    "logo-tekst logo-tekst logo-tekst"
    "klok-Amsterdam klok-London klok-NewYork"
    "klok-Afbeelding klok-Afbeelding klok-Afbeelding";

  }

  h2{
    font-size: 100px;
  }

  p{
    font-size: 50px;
  }

  #tijdA{
    font-size: 80px;
  }

  #tijdL{
    font-size: 80px;
    padding-top: 15%;
  }

  #tijdNY{
    font-size: 80px;
    padding-top: 15%;
  }

  #afb{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

}
