@import url('https://fontlibrary.org//face/d-din');

/* *{
  margin: 0;
  padding: 0;
} */

body{
  background-color: #1F2833;
}

.logo{
  width: 60%;
  display: block;
  margin-left: 25%;
  margin-right: 50%;
  margin-top: 8%;
}

.logo-tekst{
  border-style: solid;
  border-color: white;
}

.tekst{
  margin-top: 8%;
  margin-bottom: 1%;
}

.tekst-2{
  margin-bottom: 8%;
}

#tijdA{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: D-DIN;
  padding: 10%;
}

#tijdL{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: D-DIN;
  padding: 10%;
}

#tijdNY{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: D-DIN;
  padding: 10%;
}

#ani-afb {
	animation: 1000ms pulsate infinite alternate ease-in-out;
}

@keyframes pulsate {
  0% {
  	top: 90px;
  }
  100% {
  	top: 75px;
  }
}

#afb{
  width: 90vw;

}


div{
  border-style: solid;
  border-color: white;
  border-width: thin;
}

h2{
  font-family: D-DIN;
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 21px;
}

p{
  font-family: D-DIN;
  color: white;
  text-align: center;
  font-size: 15px;
}
